<!-- primary content -->
<div class="maincontent">
  <mat-toolbar style="background-color: white;" class="box-shadow">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenavToggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>{{title}}</span>
      <span class="toolbar-spacer"></span>
      <div *ngIf="authService.user$ | async; let user; else showLogin">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <img class="img-circle" src="{{ user.photoURL }}">
        </button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="toolbar-spacer"></span>
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of shortcuts" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]='rla.isActive'>
          {{link.name}}
        </a>
      </nav>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="main-container">
    <div #leftmenu class="my-context" style="display: block">
      <mat-list dense>
        <h3 mat-subheader>WAT TE DOEN</h3>

        <mat-nav-list>
          <mat-list-item *ngFor="let link of actions">
            <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
            <a matLine routerLink="{{ link.link }}">{{ link.name }}</a>
          </mat-list-item>
        </mat-nav-list>

        <br />
        <mat-divider></mat-divider>

        <h3 mat-subheader>WAAR NAAR TOE</h3>

        <mat-nav-list>
          <mat-list-item *ngFor="let link of shortcuts">
            <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
            <a matLine routerLink="{{ link.link }}" (click)="chechHide()">{{ link.name }}</a>
          </mat-list-item>
        </mat-nav-list>

      </mat-list>
    </div>

    <div class="my-content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>


<ng-template #showLogin>
  <button mat-button (click)="authService.login()">Aanmelden met Google</button>
</ng-template>


<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="authService.logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>settings</mat-icon>
    <span>Instellingen</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>verified_user</mat-icon>
    <span>Admin</span>
  </button>
</mat-menu>


<!-- <div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <party-patient-patient-list></party-patient-patient-list>
  </div>
</div> -->